<div class="area-impresssao">
    <h2>AUTORIZADO</h2>
    <p class="info-codigo">Código do ticket</p>
    <strong><p class="codigo">{{codigo}}</p></strong>

    <p>-----------------</p>

    <p class="info-codigo">Evento</p>
    <p class="info-evento">{{evento}}</p>
    
    <p>-----------------</p>
    <span class="info">Este ticket foi validado. <br> E está inutilizado.</span>
    <br>.<br>.<br>.<br>.<br>
</div>

<a href="/painel/validador"><button>Validar outro ticket</button></a>