<div class="area-impresssao">
    <h2>TICKET INVÁLIDO</h2>
    <p class="info-codigo">Código</p>
    <strong><p class="codigo">{{codigo}}</p></strong>

    <p>-----------------</p>

    <p class="info-codigo">Mensagem</p>
    <p class="info-evento">TICKET JÁ VALIDADO OU NÃO EXISTE</p>
    
    <p>-----------------</p>
    <span class="info"> <br></span>
</div>

<a href="/painel/validador"><button>Validar outro ticket</button></a>