{{>nav}}

<main class="container">
    <h2>Validar ticket</h2>
    <form action="/painel/validador" method="post">

    <div class="row">
        <input type="number" name="ticket" id="ticket" placeholder="Digite o código do ticket" required autocomplete="off" autofocus>
    </div>

    <button type="submit">Validar</button>
    </form>

</main>