@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --font-padrao: 'Roboto Condensed', sans-serif;
}

body {
    font-family: var(--font-padrao);
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #223242;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 60px;
    background-color: #007bff;
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header .container h1{
    font-size: 1.6rem;
}

header .container a{
    color: #fff;
}

button.item{
    width: 350px;
    display: block;
    height: 80px;
    border: 0;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 1rem;
    -webkit-box-shadow: inset 0px 0px 20px -5px rgba(163, 163, 163, 1);
    -moz-box-shadow: inset 0px 0px 20px -5px rgba(163, 163, 163, 1);
    box-shadow: inset 0px 0px 20px -5px rgba(163, 163, 163, 1);
}

button.item a{
    color: black;
}

.item:hover{
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

main.container {
    width: 30%;
    min-width: 350px;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

main.container h2 {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

main.container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    margin-bottom: 10px;
}

.row input, select {
    width: 100%;
    font-family: var(--font-padrao);
    font-size: 1rem;
    height: 35px;
    padding-left: 15px;
    background-color: rgb(241, 241, 241);
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 20px -5px rgba(163, 163, 163, 1);
    -moz-box-shadow: inset 0px 0px 20px -5px rgba(163, 163, 163, 1);
    box-shadow: inset 0px 0px 20px -5px rgba(163, 163, 163, 1);
}

main.container form button{
    width: 100%;
    font-size: 1rem;
    height: 35px;
    border: 1px solid #007bff;
    background-color: #007bff;
    border-radius: 0.25rem;
    color: #fff;
    font-family: var(--font-padrao);
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 25px;

}

table {
    border: 1px solid transparent;
    padding: 5px;
    border-collapse: collapse;
    text-align: left;
}

thead {
    height: 35px;
    background-color: #ebebeb;
}

thead th {
    vertical-align: center;
    border-bottom: 2px solid #dee2e6;
    text-align: inherit;
    padding: 0.75rem;
}

 td {
    padding: 0.75rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
}

td.acoes{
    display: flex;
    justify-content: center;
    width: 140px
}

td.acoes form{
    width: 32%;
    height: auto;
}

td.acoes form button{
    width: 32px;
    height: 32px;
    margin: 0;
}

.alert {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    font-size: 0.9rem;
}

.danger{
    background-color: #ffdfdf;
    border: 2px solid #ffa8a8;
    color: #bb7878;
}

.success{
    background-color: #dfffe9;
    border: 2px solid #91d99b;
    color: #6db16d;
}

.info {
    background-color: #dff5ff;
    border: 2px solid #91d3d9;
    color: #6dabb1;
}

span.footer {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
    color: #a3a3a3;
    padding: 10px 0;
}